<body>
	<header>
		<!-- <img id = "logo" src = "/assets/tt1-a.png"> -->
		<h1>Salty Energy</h1>
		<p>A Maven in Sailing Excellence</p>
	</header>
	<div id = "navbar">
		***navigation bar***
	</div>
	<div id = "jumbotron">

	</div>


</body>
