/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 /*Google Fonts*/
@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One|Arvo:700|Lora);

 /* ---------Reset defaults -----------*/
* {
        padding: 0px;
        margin: 0px;
}

/* ---------------Error/Notice messages ---------- */
.error {
        color: red;
}

.notice { 
        color: blue;
}

/* -------------- Body ------------------- */
body { 
    /*    background-image: url(/assets/background/binding_light/binding_light.png)*/;
        text-align: center;
        /*font-family: 'Georgia', sans-serif;*/
        font-family: 'Lora', serif;
}

/* -------------- Header ------------------- */

/*Navy: #180338;*/
/*Yellow: #E6FF09 */
header{
	background-color: #180338;
  color: white;
  /*text-align: left;*/
  vertical-align: bottom;
  padding: 22px 0 22px 0;
}

header h1{
  /*font-family: 'Arvo', serif;*/
  font-family: Helvetica,Arial,Verdana,'Lucida Sans',sans-serif;
  font-size: 36px;
}

header p{
}

/*------------Navigation Bar------------*/
#navbar {
	border: 1px black dashed;
}

/*------------Jumbo Image ---------------*/
#jumbotron {
  background-image: url(/assets/banner1.jpg);
  background-size: 1280px;
  height: 700px;
}

